<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testCarthage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C36B4AB1D97CC8E00E61FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C36B4BF1D97CC8F00E61FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C36B4CA1D97CC8F00E61FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
